/**********beginning of header and sidebar**********/

body{
  position: absolute;
  display: grid;
  grid-template-columns: 18% auto;
  grid-template-rows: 10% auto;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

header{
  grid-column: 1/3;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 10;
  box-shadow: 0px 3px 5px #ddd;
}

nav{
  position: relative;
  border-right: 1px solid #eee;
  box-shadow: 0px 0px 20px 0px rgba(182, 101, 252, 0.07);
  overflow: hidden;
  font-size: 0.9em;
  z-index: 1;
}

.ky-logo-name-container {
  display: flex;
  align-items: center;
}

.ky-logo-name-container img{
  width: 45px;
  height: 45px;
}

.ky-logo-name-container span{
  margin-left: 10px;
  font-size: 1.8em;
  font-weight: 800;
}

.ky-user-container{
  width: auto;
  position: relative;
  z-index: 99;
}

.ky-user-content, .ky-logo-name-container a{
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.ky-user-content{
  padding: 25px 0;
}

.ky-user-content i.fa-user-circle{
  font-size: 2em;
}

.ky-user-content span{
  font-size: 1em;
  font-weight: 600;
  padding: 0px 10px;
  letter-spacing: 0.5px;
}

.ky-user-content .fa-caret-down{
  font-size: 20px;
  transition: 0.3s ease;
}

.ky-user-content .fa-caret-down.dropdown{
  transform: rotate(-180deg);
}

.ky-logout-dropdown-menu{
  position: absolute;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  width: 195px;
  background-color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.ky-logout-dropdown-menu.dropdown{
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.ky-logout-dropdown-menu a, .ky-logo-name-container a{
  text-decoration: none;
  color: #000;
}

.ky-logout-dropdown-menu a{
  padding: 18px 10px;
  color: #777;
  transition: 0.3s ease;
}

.ky-logout-dropdown-menu a:first-child:hover{
  color: #222;
}

.ky-logout-dropdown-menu a:last-child:hover{
  color: #EA2027;
}

/*.ky-logout-dropdown-menu a:first-child{
  border-bottom: 1px solid #555;
}*/

/*.ky-logout-dropdown-menu::before{
  content: "";
  position: absolute;
  top: -14px;
  left: 50%;
  border: 7px solid transparent;
  border-bottom-color: #EFEFEF;
}*/

.ky-logout-dropdown-menu i{
  float: right;
  font-size: 14px;
  transition: 0.3s ease;
}

.ky-logout-dropdown-menu a:hover i{
  transform: translateX(-5px);
}

.ky-sidemenu-list a{
  text-decoration: none;
  color: black;
}

.ky-sidemenu-list li{
  display: flex;
  align-items: center;
  border-left: 10px solid white;
  transition: 0.3s ease;
}

.ky-sidemenu-list li > span{
  display: flex;
  align-items: center;
  min-width: 180px;
  margin: 25px auto;
}

.ky-sidemenu-list li i{
  padding-right: 10px;
  font-size: 18px;
  color: rgba(0,0,0,0.9);
}

.ky-sidemenu-list li:hover, .ky-sidemenu-list li.active{
  background-color: #EFEFEF;
  border-left-color: #2ec5ff;
  padding-left: 25px;
}

.ky-sidemenu-list li:not(.active):hover{
  border-left-color: #efefef;
}

nav::before{
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  background-color: #2EC5FF;
  opacity: 0.9;
  border-radius: 50%;
  pointer-events: none;
}
/**********end of header and sidebar**********/

/*********beginning of settings**********/
#ky-settings-section{
  position: relative;
  overflow: hidden;
}

.ky-settings-container{
  padding: 3% 25% 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ky-settings-container i.fa-user-circle{
  font-size: 4.5em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.ky-settings-container > span{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 50px;
}

.ky-account-configure-form > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ky-account-configure-form > div span{
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 15px; // left to reconfigure
}

.ky-current-account-container,
.ky-new-account-container{
  position: relative;
  border: 2px solid #dddddd;
  border-bottom: none;
  padding: 25px;
}

.ky-current-account-container{
  border-radius: 6px 0px 0px 0px;
}

.ky-new-account-container{
  border-left: none;
  border-radius: 0px 6px 0px 0px;
}

.ky-change-button-container{
  grid-column: 1/3;
  border: 2px solid #DDDDDD;
  padding: 25px;
  text-align: center;
  border-radius: 0px 0px 6px 6px;
}

.ky-account-configure-form input{
  display: block;
  width: 180px;
  height: 35px;
  color: #000000;
  background-color: #EFEFEF;
  text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	padding: 0 9px;
	box-sizing: border-box;
  border: none;
}

.ky-new-account-container input:last-child{
  margin-bottom: 0;
}

.ky-change-button-container button{
  display: inline-block;
  width: 180px;
  height: 35px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 5px;
  background-image: linear-gradient(to right, #2EC5FF, #42F0E7);
  border: none;
}

.ky-change-button-container button:hover,
.ky-create-customer-form input[type=submit]:hover{
  background-image: linear-gradient(to right, #2EC5FF, #2EC5FF);
  transition: all ease 500ms;
}

.ky-current-account-container::before,
.ky-new-account-container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 2px solid #dddddd;
  border-left: 2px solid #dddddd;
  border-radius: 2px 0 0 0;
  background-color: #ffffff;
}

.ky-account-configure-form input:focus,
.dashboard-form-conatainer input:focus,
.dashboard-form-conatainer textarea:focus{
  box-shadow: 0 0 4px rgba(0,0,0,0.8);
  border: none;
}

.ky-onfocus{
  color: #11DFD4;
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#ky-settings-section > div:nth-child(2){
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2EC5FF;
  left: 0;
  top: 20%;
  transform: translateX(-50%);
  opacity: 0.6;
}

#ky-settings-section > div:nth-child(3){
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #42F0E7;
  right: 2%;
  top: 0;
  transform: translateY(-60%);
  opacity: 0.6;
}

#ky-settings-section > div:nth-child(4){
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2EC5FF;
  right: 8%;
  bottom: 16%;
  opacity: 0.6;
}

#ky-settings-section > div:nth-child(5){
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2EC5FF;
  right: 8%;
  bottom: 30%;
  opacity: 0.6;
}
/**********end of settings**********/


/**********beginning of dashboard**********/
#ky-dashboard-section{
  padding: 24px 44px 0;
  background-color: #efefef;
  position: relative;
  box-sizing: border-box;
}

.ky-dashboard-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4%;
}

.dashboard-form-part{
  grid-column: 1/5;
  margin-top: 32px;
}

.ky-dashboard-container a{
  display: inline-block;
  height: 4.9em;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 0 1.5em;
  border: 1px solid #eee;
  box-shadow: 0px 0px 20px 0px rgba(182, 101, 252, 0.07);
}

.ky-dashboard-container a:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 0px rgba(182, 101, 252, 0.07);
  transition: all ease 300ms;
}

.dashboard-small-container{
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.ky-icon-container{
  display: inline-flex;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-right: 1.5em;
}

.ky-icon-container i{
  font-size: 2em;
}

.ky-icon-container.ky-customer-icon{
  background-color: #3498DB;
}

.ky-info-container.ky-customer-info > span:first-child{
  color: #3498DB;
}

.ky-icon-container.ky-order-icon{
  background-color: #27AE60;
}

.ky-info-container.ky-order-info > span:first-child{
  color: #27AE60;
}

.ky-icon-container.ky-conversation-icon{
  background-color: #E74C3C;
}

.ky-info-container.ky-conversation-info > span:first-child{
  color: #E74C3C;
}

.ky-info-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
}

.ky-info-container > span:first-child{
  font-size: 1.1em;
  margin-bottom: 6px;
  font-weight: 600;
}

.ky-info-container > span:last-child{
  font-size: 0.8em;
  color: #807878;
}

.dashboard-small-container.memberships{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0px;
  box-sizing: border-box;
}

.dashboard-small-container.memberships > span{
  font-size: 0.97em;
  font-weight: 600;
  color: #636E72;
}

.ky-membership-icons-container{
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.ky-membership-icons-container > div{
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.ky-membership-icons-container i{
  font-size: 1.7em;
}

.ky-letter-inside-icon{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: white;
  font-weight: 800;
}

.ky-silver-icon{
  background-color: #C0BFDF;
}

.ky-gold-icon{
  background-color: #FDD600
}

.ky-platinum-icon{
  background-color: #B9BBBC;
}

.ky-diamond-icon{
  background-color: #2EC5FF;
}

.dashboard-form-part{
  position: relative;
  padding: 32px 0 24px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  height: 80%;
  border: 1px solid #eee;
  box-shadow: 0px 0px 20px 0px rgba(182, 101, 252, 0.07);
  overflow: hidden;
}

.dashboard-form-conatainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-form-conatainer > span{
  display: inline-block;
  width: 230px;
  text-align: center;
  font-size: 20px;
  color: #2D3436;
  font-weight: 600;
  margin-bottom: 18px;
}

.ky-create-customer-form{
  display: flex;
  flex-direction: column;
}

.ky-create-customer-form input, .ky-create-customer-form textarea{
  font-family: inter;
  display: inline-block;
  width: 210px;
  height: 38px;
  color: #000000;
  font-size: 14px;
  background-color: #EFEFEF;
  text-align: center;
	border-radius: 7px;
	margin-bottom: 16px;
	padding: 0 9px;
	box-sizing: border-box;
  border: none;
  vertical-align: middle;
}

.ky-create-customer-form textarea{
  display: block;
  height: 60px;
  max-height: 60px;
  letter-spacing: 0.1px;
  font-size: 14px;
  padding: 4px 9px;
}

.ky-create-customer-form input[type=submit]{
  margin-bottom: none;
  color: #ffffff;
  background-image: linear-gradient(to right, #2EC5FF, #42F0E7);
  border: none;
  font-weight: 600;
}

.dashboard-form-part div:nth-child(2){
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #2EC5FF;
  left: 16%;
  top: 0;
  transform: translateY(-55%);
  opacity: 0.6;
}

.dashboard-form-part div:nth-child(3){
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #42F0E7;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  opacity: 0.9;
}

.dashboard-form-part div:nth-child(4){
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #2EC5FF;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  opacity: 0.6;
}
/**********end of dashboard**********/

/**********beginning of memberships**********/
#ky-memberships-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto;
  grid-gap: 4.5%;
  padding: 3% 4.5%;
  background-color: #f9f9f9;
}

.ky-membership-container{
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(182, 101, 252, 0.11);
}

.ky-membership-header{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #76888F;
  padding: 0px 22px;
  box-sizing: border-box;
  border-radius: 11px 11px 0 0;
}

.ky-membership-logo-container{
  display: flex;
  align-items: center;
}

.ky-membership-logo-container > div {
  position: relative;
  display: inline-flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 3px solid #fff;
  box-sizing: border-box;
  margin-right: 12px;
}

.ky-membership-logo-container > span {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

.ky-membership-logo-container i {
  font-size: 1.5em;
}

.ky-membership-logo-container .ky-silver-icon span {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: 800;
}

.ky-percentage-container{
  display: flex;
  flex-direction: row;
  height: 35px;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.ky-percentage-input-container,
.btn-edit-percentage-js,
.btn-save-percentage-js{
  width: 30px;
  height: 100%;
  border-radius: 0 6px 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ky-percentage-container input,
.ky-percentage-container button{
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  background: none;
  font-size: 1.1em;
}

.ky-percentage-container i{
  font-size: 0.8em;
}

.btn-save-percentage-js i{
  color: #27AE60;
}

.btn-edit-percentage-js,
.btn-save-percentage-js{
  background-color: #ddd;
}

.ky-membership-body{
  width: 100%;
  height: 80%;
  padding: 8px 20px 0px 20px;
  box-sizing: border-box;
  text-align: center;
}

.ky-membership-body textarea{
  width: 98%;
  height: 160px;
  background: none;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  max-height: 160px;
  letter-spacing: 0.1px;
}

.ky-membership-body-footer{
  width: 98%;
  margin: 10px auto 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.ky-membership-body-footer button{
  display: inline-block;
  width: 80px;
  height: 35px;
  text-align: center;
  font-size: 0.95em;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 6px 15px;
  box-sizing: border-box;
}

.btn-save-text-js,
.btn-edit-text-js{
  background-color: #2ec5ff;
}

.btn-cancel-text-js{
  background-color: #E74C3C;
}
/**********end of memberships**********/
