/**********beginning of header and sidebar**********/

body{
  position: absolute;
  display: grid;
  grid-template-columns: 18% auto;
  grid-template-rows: 10% auto;
  width: 100%;
  height: 100%;
}

header{
  grid-column: 1/3;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 3px 5px #ddd;
}

nav{
  position: relative;
  border-right: 1px solid #eee;
  box-shadow: 0px 0px 20px 0px rgba(182, 101, 252, 0.07);
  overflow: hidden;
  font-size: 1em;
  z-index: 3;
  font-family: 'Laila', sans-serif;
}

section, div, button{
  font-family: 'Laila', sans-serif;
}

header *{
  font-family: 'Lato', sans-serif;
}

input, textarea{
  font-family: 'Alegreya Sans', sans-serif;
}

.ky-logo-name-container {
  display: flex;
  align-items: center;
}

.ky-logo-name-container img{
  width: 100px;
}

.ky-logo-name-container span{
  margin-left: 10px;
  font-size: 1.8em;
  font-weight: 800;
}

.ky-user-container{
  width: auto;
  position: relative;
  z-index: 99;
}

.ky-user-content, .ky-logo-name-container a{
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.ky-user-content{
  padding: 25px 0;
}

.ky-user-content i.fa-user-circle{
  font-size: 2em;
}

.ky-user-content span{
  font-size: 1em;
  font-weight: 600;
  padding: 0px 10px;
  letter-spacing: 0.5px;
}

.ky-user-content .fa-caret-down{
  font-size: 20px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ky-user-content .fa-caret-down.dropdown{
  transform: rotate(-180deg);
}

.ky-logout-dropdown-menu{
  position: absolute;
  right: 0;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  width: 195px;
  background-color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ky-logout-dropdown-menu.dropdown{
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.ky-logout-dropdown-menu a, .ky-logo-name-container a{
  text-decoration: none;
  color: #000;
}

.ky-logout-dropdown-menu a{
  padding: 18px 10px;
  color: #777;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ky-logout-dropdown-menu a:first-child:hover{
  color: #222;
}

.ky-logout-dropdown-menu a:last-child:hover{
  color: #EA2027;
}

.ky-logout-dropdown-menu i{
  float: right;
  font-size: 14px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ky-logout-dropdown-menu a:hover i{
  transform: translateX(-5px);
}

.ky-sidemenu-list{
  background-color: white;
}

.ky-sidemenu-list a{
  text-decoration: none;
  color: black;
}

.ky-sidemenu-list li{
  display: flex;
  align-items: center;
  border-left: 10px solid white;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ky-sidemenu-list li > span{
  display: flex;
  align-items: center;
  min-width: 180px;
  margin: 25px auto;
}

.ky-sidemenu-list li i{
  padding-right: 10px;
  font-size: 18px;
  color: rgba(0,0,0,0.9);
}

.ky-sidemenu-list li:hover, .ky-sidemenu-list li.active{
  background-color: #EFEFEF;
  border-left-color: #2ec5ff;
  padding-left: 25px;
}

.ky-sidemenu-list li:not(.active):hover{
  border-left-color: #efefef;
}

nav::before{
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  background-color: #2EC5FF;
  opacity: 0.9;
  border-radius: 50%;
  pointer-events: none;
}
/**********end of header and sidebar**********/

/*********beginning of settings**********/
#ky-settings-section{
  position: relative;
  overflow: hidden;
}

.ky-settings-container{
  padding: 3% 25% 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ky-settings-container i.fa-user-circle{
  font-size: 4.5em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.ky-settings-container > span{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 50px;
}

.ky-account-configure-form > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ky-account-configure-form > div span{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 15px; // left to reconfigure
}

.ky-current-account-container,
.ky-new-account-container{
  position: relative;
  border: 2px solid #dddddd;
  border-bottom: none;
  padding: 28px;
}

.ky-current-account-container{
  border-radius: 6px 0px 0px 0px;
}

.ky-new-account-container{
  border-left: none;
  border-radius: 0px 6px 0px 0px;
}

.ky-change-button-container{
  grid-column: 1/3;
  border: 2px solid #DDDDDD;
  padding: 25px;
  text-align: center;
  border-radius: 0px 0px 6px 6px;
}

.ky-account-configure-form input{
  display: block;
  width: 180px;
  height: 100%;
  color: #000000;
  background-color: #EFEFEF;
  text-align: center;
	border-radius: 7px;
	padding: 0 9px;
	box-sizing: border-box;
  border: none;
}

.ky-current-account-container .error-input,
.ky-new-account-container .error-input{
  position: relative;
  width: 180px;
  height: 35px;
  text-align: center;
  margin-bottom: 28px;
}

.ky-create-customer-form .error-input{
  position: relative;
  width: 90%;
  height: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.ky-create-customer-form .error-textarea{
  height: 52px;
}

.error-input:last-child{
  margin-bottom: 0;
}

.ky-current-account-container .error-input label.error,
.ky-new-account-container .error-input label.error{
  width: calc(100% + 52px);
  position: absolute;
  top: -16px;
  left: -26px;
  color: #EA2027;
  font-size: 0.8em;
}

.ky-create-customer-form .error-input label.error{
  width: calc(100% + 52px);
  position: absolute;
  top: -14px;
  left: -26px;
  color: #EA2027;
  font-size: 0.8em;
}

.ky-change-button-container button{
  display: inline-block;
  width: 180px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-size: 200%;
  background-image: linear-gradient(135deg, #2EC5FF, #42F0E7, #2EC5FF);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.ky-change-button-container button:hover,
.ky-create-customer-form input[type=submit]:hover{
  background-position: right;
}

.ky-current-account-container::before,
.ky-new-account-container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 2px solid #dddddd;
  border-left: 2px solid #dddddd;
  border-radius: 2px 0 0 0;
  background-color: #ffffff;
}

.ky-account-configure-form input:focus,
.dashboard-form-container input:focus,
.dashboard-form-container textarea:focus{
  background-color: #dfdfdf;
}

.ky-onfocus{
  color: #11DFD4;
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#ky-settings-section > div:nth-child(2){
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2EC5FF;
  left: 0;
  top: 20%;
  transform: translateX(-50%);
  opacity: 0.6;
}

#ky-settings-section > div:nth-child(3){
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #42F0E7;
  right: 2%;
  top: 0;
  transform: translateY(-60%);
  opacity: 0.6;
}

#ky-settings-section > div:nth-child(4){
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2EC5FF;
  right: 8%;
  bottom: 16%;
  opacity: 0.6;
}

#ky-settings-section > div:nth-child(5){
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2EC5FF;
  right: 8%;
  bottom: 30%;
  opacity: 0.6;
}
/**********end of settings**********/

/**********beginning of dashboard**********/
#ky-dashboard-section{
  padding: 36px 44px;
  background-color: #efefef;
  box-sizing: border-box;
}

.ky-dashboard{
  width: 100%;
  height: 14%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.ky-dashboard a{
  width: 20%;
  height: 100%;
  text-decoration: none;
}

.dashboard-small-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #e5e5e5;
  overflow: hidden;
}

.dashboard-small-container:hover .ky-customer-icon span{
  background-color: white;
  color: #3498DB;
  box-shadow: 0 0 0 200px #3498DB;
}

.dashboard-small-container:hover .ky-order-icon span{
  background-color: white;
  color: #27AE60;
  box-shadow: 0 0 0 200px #27AE60;
}

.dashboard-small-container:hover .ky-conversation-icon span{
  background-color: white;
  color: #E74C3C;
  box-shadow: 0 0 0 200px #E74C3C;
}

.dashboard-small-container:hover #customers_count,
.dashboard-small-container:hover #orders_count,
.dashboard-small-container:hover #messages_count{
  color: white;
}

.dashboard-small-container:hover .ky-info-container span:last-child{
  color: #efefef;
}

.dashboard-small-container.memberships{
  display: flex;
  flex-direction: column;
}

.dashboard-small-container.memberships div{
  margin: 3% 0;
}

.dashboard-small-container.memberships div:first-child{
  width: 100%;
  z-index: 1;
  text-align: center;
  color: #777;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.memberships:hover div:first-child{
  color: white;
}

.ky-membership-icons-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.ky-membership-icons-container span{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.memberships:hover .ky-membership-icons-container span{
  background-color: white;
}

.ky-membership-icons-container span:nth-child(1){
  background-color: #C0BFDF;
}

.ky-membership-icons-container span:nth-child(2){
  background-color: #FDD600;
}

.ky-membership-icons-container span:nth-child(3){
  background-color: #B9BBBC;
}

.ky-membership-icons-container span:nth-child(4){
  background-color: #2EC5FF;
}

#membership-hover{
  box-shadow: 0 0 0 0 #C0BFDF;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.memberships:hover #membership-hover{
  box-shadow: 0 0 0 200px #C0BFDF;
}

.ky-membership-icons-container span i{
  color: white;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.memberships:hover .ky-membership-icons-container span:nth-child(1) i{
  color: #C0BFDF;
}

.memberships:hover .ky-membership-icons-container span:nth-child(2) i{
  color: #FDD600;
}

.memberships:hover .ky-membership-icons-container span:nth-child(3) i{
  color: #B9BBBC;
}

.memberships:hover .ky-membership-icons-container span:nth-child(4) i{
  color: #2EC5FF;
}

.ky-icon-container{
  width: 44%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ky-icon-container span{
  width: 60%;
  height: 70%;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.ky-customer-icon span{
  background-color: #3498DB;
  box-shadow: 0 0 0 0 #3498DB;
}

.ky-order-icon span{
  background-color: #27AE60;
  box-shadow: 0 0 0 0 #27AE60;
}

.ky-conversation-icon span{
  background-color: #E74C3C;
  box-shadow: 0 0 0 0 #E74C3C;
}

.ky-info-container{
  width: 56%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ky-info-container span{
  display: block;
  margin: 3px 0;
}

.ky-info-container span:first-child{
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ky-info-container span:last-child{
  font-size: 0.8em;
  color: #777;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

#customers_count{
  color: #2EC5FF;
}

#orders_count{
  color: #57bc91;
}

#messages_count{
  color: #21d2b6;
}

.dashboard-form-part{
  width: 100%;
  height: calc(86% - 40px);
  display: flex;
  justify-content: space-between;
}

.dashboard-form-container{
  position: relative;
  width: 62%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px #efefef;
  box-sizing: border-box;
  overflow: hidden;
}

.dashboard-form{
  width: 216px;
}

.dashboard-form > span{
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: #555;
  font-weight: bold;
  margin-bottom: 24px;
}

.ky-create-customer-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ky-create-customer-form input, .ky-create-customer-form textarea{
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
  font-size: 0.9em;
  background-color: #f5f5f5;
  text-align: center;
	border-radius: 5px;
	padding: 6px 12px;
	box-sizing: border-box;
  border: none;
}

.ky-create-customer-form input[type=submit]{
  background-size: 200%;
  background-image: linear-gradient(135deg, #2EC5FF, #42F0E7, #2EC5FF);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.ky-create-customer-form textarea{
  min-height: 100%;
  max-height: 100%;
  resize: none;
  letter-spacing: 0.1px;
}

.ky-create-customer-form input[type="submit"]{
  width: 90%;
}

.new-customer-form-circle1{
  position: absolute;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #2EC5FF;
  left: 12%;
  top: 0;
  transform: translateY(-55%);
  opacity: 0.6;
}

.new-customer-form-circle2{
  position: absolute;
  width: 159px;
  height: 159px;
  border-radius: 50%;
  background-color: #42F0E7;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  opacity: 0.9;
}

.new-customer-form-circle3{
  position: absolute;
  width: 254px;
  height: 254px;
  border-radius: 50%;
  background-color: #2EC5FF;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  opacity: 0.6;
}

.exchange-rate-and-req-pass-container{
  width: 32%;
  height: 100%;
}

.wp-exchange-rate-container{
  width: 100%;
  height: 128px;
  margin-bottom: 32px;
  padding: 4% 5%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.wp-exchange-rate-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wp-exchange-rate-header span:first-child{
  font-size: 1.2em;
  font-weight: bold;
  color: #777;
  letter-spacing: 0.5px;
}

.wp-edit{
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px #ddd;
  cursor: pointer;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

.done-edit{
  display: none;
}

.wp-edit i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

.edit-rate{
  color: #777;
}

.done-edit{
  color: #56EB94;
}

.wp-edit.edit-rate:hover{
  background-color: #2EC5FF;
}

.wp-edit.done-edit:hover{
  background-color: #56EB94;
}

.wp-edit:hover i{
  color: white;
}

#wp-rate-svg{
  width: 35%;
}

#wp-rate-svg svg{
  width: 100%;
}

#wp-exchange-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 16px;
  background-color: #2EC5FF;
  border-radius: 50%;
}

#wp-exc-rate{
  width: 100%;
  display: flex;
  justify-content: center;
}

.wp-exchange-rate{
  font-family: 'Laila', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  color: #555;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#mmk-rate input:disabled{
  background-color: white;
  border: 1px dotted transparent;
}

#mmk-rate input{
  font-family: 'Laila', sans-serif;
  color: #555;
  display: inline-block;
  width: 56px;
  padding: 4px;
  border-radius: 5px;
  border: 1px dotted #555;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#mmk-rate input:focus{
  border: 1px dotted #555;
}

.wp-req-pass{
  position: relative;
  width: 100%;
  height: calc(100% - 160px);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  background-color: white;
  box-sizing: border-box;overflow: hidden;
}

.wp-req-pass h2{
  height: 32px;
  line-height: 32px;
  background-color: #2EC5FF;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.wp-req-pass-table{
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 32px);
  overflow: auto;
}

.wp-req-pass-table table{
  width: 100%;
}

.wp-req-pass-table thead tr th{
  position: sticky;
  top: 0;
  height: 48px;
  background-color: white;
}

.wp-req-pass-table thead tr th span{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #2EC5FF;
  border-radius: 50%;
}

.wp-req-pass-table thead tr th span i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  color: white;
}

.wp-req-pass-table tbody tr:hover{
  background-color: #f5f5f5;
}

.wp-req-pass-table tbody tr td{
  font-size: 0.9em;
  color: #333;
  letter-spacing: 0.5px;
  padding: 8px 0;
}

.wp-req-pass-table tbody tr td:last-child{
  color: #555;
}
/**********end of dashboard**********/

/**********beginning of memberships**********/
#ky-memberships-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  padding: 2% 5%;
  background-color: #f9f9f9;
}

.ky-membership-container{
  height: 96%;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(182, 101, 252, 0.11);
}

.ky-membership-header{
  width: 100%;
  height: 22%;
  max-height: 22%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #76888F;
  padding: 10px 24px;
  box-sizing: border-box;
  border-radius: 11px 11px 0 0;
}

.ky-membership-logo-container{
  display: flex;
  align-items: center;
}

.ky-membership-logo-container > div {
  position: relative;
  display: inline-flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 3px solid #fff;
  box-sizing: border-box;
  margin-right: 12px;
}

.ky-membership-logo-container > span {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

div.ky-silver-icon{
  background-color: #C0BFDF;
}

div.ky-gold-icon{
  background-color: #FDD600;
}

div.ky-platinum-icon{
  background-color: #B9BBBC;
}

div.ky-diamond-icon{
  background-color: #2EC5FF;
}

.ky-membership-logo-container i {
  font-size: 1.5em;
  color: #fff;
}

div.ky-diamond-icon > .fa-gem{
  font-size: 1.3em;
  margin-top: 2px;
}

.ky-percentage-container{
  display: flex;
  flex-direction: row;
  height: 35px;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.ky-percentage-input-container,
.btn-edit-percentage-js,
.btn-save-percentage-js{
  width: 30px;
  height: 100%;
  border-radius: 0 6px 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ky-percentage-container input,
.ky-percentage-container button{
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  background: none;
  font-size: 1.1em;
}

.ky-percentage-container i{
  font-size: 0.8em;
}

.btn-save-percentage-js i{
  color: #27AE60;
}

.btn-edit-percentage-js,
.btn-save-percentage-js{
  background-color: #ddd;
}

.ky-membership-body{
  width: 100%;
  height: 60%;
  padding: 14px 24px;
  box-sizing: border-box;
  text-align: center;
}

.ky-membership-body textarea{
  width: 100%;
  height: 130px;
  max-height: 130px;
  background: none;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  letter-spacing: 0.1px;
}

.ky-membership-body-footer{
  width: 100%;
  height: 18%;
  position: relative;
}

.ky-membership-body-footer > div{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  -webkit-justify-content: flex-end;
  box-sizing: border-box;
}

.btn-edit-text-js,
.btn-save-text-js,
.btn-cancel-text-js{
  display: inline-block;
  width: 80px;
  height: 36px;
  text-align: center;
  font-size: 0.95em;
  border: none;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2ec5ff;
}

.btn-edit-text-js:hover,
.btn-save-text-js:hover{
  background-color: #07678c;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.btn-cancel-text-js:hover{
  background-color: #CA2A19;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.btn-cancel-text-js{
  background-color: #E74C3C;
  margin-left: 14px;
}

.ky-membership-body textarea.animate{
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(0deg, #2EC5FF, #42F0E7) border-box;
  border: 2px solid transparent;
  border-radius: 5px;
  animation: gradient 200ms 5;
}

@keyframes gradient {
  0% { background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(0deg, #2EC5FF, #42F0E7) border-box; }
  25% { background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #2EC5FF, #42F0E7) border-box; }
  50% { background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #2EC5FF, #42F0E7) border-box; }
  75% { background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(270deg, #2EC5FF, #42F0E7) border-box; }
  100% { background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(360deg, #2EC5FF, #42F0E7) border-box; }
}

/**********end of memberships**********/
