.hide{
  display: none;
}
.chat_history{
  box-sizing: border-box;
  height: 50vh;
  border: 1px solid #ccc;
  overflow-y: auto;
  margin-bottom: 24px;
  padding: 16px;
}
.from_user_chat_style, .from_user_time_style{
  text-align: right;
}
.chat_history ul li{
  padding: 3px;
}
