.hide{
  display: none;
}
.chat_history{
  box-sizing: border-box;
  height: 46vh;
  background-color: #fff;
  overflow-y: auto;
  padding: 8px 16px;
  margin-bottom: 16px;
}
.from_user_chat_style, .from_user_time_style{
  text-align: right;
}
.chat_history ul li{
  padding: 3px;
}
#uploadFile{
  display: none;
}
.upload_image_logo{
  width: 18px;
}
.chat_history img{
  width: 280px;
}

.sn-grid-warpper{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 37% 37% auto;
  grid-template-rows: 18vh 16vh 16vh 16vh 16vh;
  background-color: #fff;
  color: #444;
  padding: 10px 8px 8px 8px;
  background: #EDEDED;
}
.sn-form-wrapper h1,
.sn-pass-wrapper h1,
.sn-floattext-wrapper h1,
.sn-banner-wrapper h1,
.sn-exchange-wrapper h1{
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #000a141f;
  color: #2d3435cf;
}
.sn-form-wrapper,
.sn-pass-wrapper,
.sn-floattext-wrapper,
.sn-banner-wrapper,
.sn-exchange-wrapper,
.sn-widget-wrapper
{
  background: #fff;
  box-shadow: 0px 0px 10px 0px #DDDDDD;
  border: 1px solid #000a1433;
  border-radius: 5px;
}
.sn-form-wrapper{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.sn-form-wrapper form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}
.sn-form-wrapper form .error-text{
  position: relative;
  width: 50%;
  height: 30px;
  margin-bottom: 15px;
  text-align: center;
}
.sn-form-wrapper form .textarea-error{
  position: relative;
  width: 50%;
  height: 45px;
  margin-bottom: 15px;
  text-align: center;
}
.error{
  font-size: 0.7em;
  color: #ff010ae0;
  display: block;
}
.sn-form-wrapper form input, .sn-form-wrapper form textarea{
  display: block;
  width: 100%;
  height: 32px;
  color: #585858;
  font-size: 0.9em;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 5px;
  padding: 6px 12px;
  box-sizing: border-box;
  border: none;
}
.sn-form-wrapper input:focus {
  background-color: #dcdcdc;
}
.sn-form-wrapper input::placeholder,
.sn-form-wrapper form textarea::placeholder {
  color: #afafaf;
  opacity: 1;
}
.sn-form-wrapper form textarea{
  height: 45px;
  resize: none;
}
.sn-form-wrapper input[type=submit]{
  width: 50%;
  background-size: 200%;
  background-image: linear-gradient(135deg, #2EC5FF, #42F0E7, #2EC5FF);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.sn-form-wrapper input[type=submit]:hover {
    background-position: right;
}
.sn-pass-wrapper{
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}
.sn-pass-wrapper table{
  width: 100%;
}
.sn-pass-wrapper table thead tr th{
  position: sticky;
  top: 0;
  height: 25px;
  padding-top: 16px;
  text-align: center;
}
.sn-pass-wrapper table thead tr th span{
  background: #333333a3;
  padding: 4px 5px;
  border-radius: 50%;
}
.sn-pass-wrapper table thead tr th span i{
  color: #fff;
}
.sn-pass-wrapper table tbody tr td{
  font-size: 0.9em;
  color: #333;
  letter-spacing: 0.5px;
  padding: 8px 0;
  text-align: center;
}
.sn-floattext-wrapper{
  grid-column: 2 / 2;
  grid-row: 1 / 3;
  position: relative;
}
.sn-floattext-wrapper textarea{
  width: 85%;
  resize: none;
  background: #fff;
  border: none;
  margin: 8px auto;
  padding: 5px;
  display: block;
  color: #5f5f5f;
}
#edit-float-text-btn-js,
#save-float-text-btn-js,
#edit-currency-rate-btn-js,
#save-currency-rate-btn-js{
  position: absolute;
  top: 1px;
  right: 1px;
  background: none;
  border: none;
}
#save-float-text-btn-js,
#save-currency-rate-btn-js{
  display: none;
}
/* #edit-float-text-btn-js span,
#save-float-text-btn-js span,
#edit-currency-rate-btn-js span,
#save-currency-rate-btn-js span{
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
#edit-float-text-btn-js span:hover,
#save-float-text-btn-js span:hover,
#edit-currency-rate-btn-js span:hover,
#save-currency-rate-btn-js span:hover{
  background: #e0e0e0;
} */
#edit-float-text-btn-js i,
#save-float-text-btn-js i,
#edit-currency-rate-btn-js i,
#save-currency-rate-btn-js i{
  font-size: 13px;
  /* color: #858585; */
  padding: 8px 6px;
}
.sn-floattext-wrapper .sn-edit-text{
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.sn-banner-wrapper{
  grid-column: 2 / 2;
  grid-row: 3 / 6;
  position: relative;
}
.sn-banner-wrapper img{
  width: 110px;
  height: 110px;
  object-fit: contain;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 2px;
}
.swiper-wrapper{
  height: 93% !important;
  width: 280px !important;
}
.swiper-container {
  width: 280px;
  height: 93%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* height: 110px !important; */
  height: calc((100% - 60px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* margin-right: 0px !important; */
  margin-top: 25px !important;
  /* width: 150px !important; */
}
/* .swiper-slide-active{
  margin-left: 25px;
}
.swiper-slide-next{
  margin-left: 25px;
} */
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 12px !important;
}
.sn-banner-wrapper .swiper-slide span,
.sn-banner-wrapper .swiper-slide ul{
  position: absolute;
}
.sn-banner-wrapper span{
  cursor: pointer;
  top: calc((100% - 110px) / 2);
  right: 8px;
  background: #0000004f;
  border-radius: 2px;
  border: 1px solid #ffffff14;
  box-shadow: 0px 0px 2px 1px #ffffff29;
}
.sn-banner-wrapper span i{
  padding: 9px 11px;
  font-size: 12px;
  color: #ffffffd9;
}
.sn-edit-list{
  display: none;
  align-content: center;
  background: #000000d6;
  font-size: 12px;
  color: #ffffffc2;
  border-radius: 2px;
  box-shadow: 0px -1px 2px 1px #ffffff42;
  position: absolute;
  top: calc((100% - 110px) / 2);
  right: 8px;
  width: 60%;
}
.sn-show-edit{
  display: none;
}
.sn-edit-list li{
  padding: 7px 2px;
  border-bottom: 1px solid #ffffff40;
  cursor: pointer;
}
.sn-edit-list li:last-child{
  border-bottom: 0
}
.sn-edit-list li a{
  text-decoration: none;
  color: #ffffffa8;
}
.sn-banner-wrapper .sn-photo-list span{
  top: 5px;
  right: 18px;
}
.sn-banner-wrapper .swiper-button-next{
  right: 15px !important;
  top: 55% !important;
}
.sn-banner-wrapper .swiper-button-prev{
  left: 15px !important;
  top: 55% !important;
}
.sn-banner-wrapper .swiper-button-next,
.sn-banner-wrapper .swiper-button-prev{
  color: #0000004a;
  /* background: #0000004a; */
  border: 1px solid #b5b5b500;
  border-radius: 50%;
  height: 29px;
  width: 29px;
  box-shadow: 0px 1px 5px -1px #33333300;
}
.sn-banner-wrapper .swiper-button-next:hover,
.sn-banner-wrapper .swiper-button-prev:hover{
  color: #0000005e;
  background: #ffffff5e;
  border: 1px solid #b5b5b5a3;
  border-radius: 50%;
  height: 29px;
  width: 29px;
  box-shadow: 0px 1px 5px -1px #333333a3;
}
.sn-banner-wrapper .swiper-button-next::after,
.sn-banner-wrapper .swiper-button-prev::after{
  font-size: 16px;
  font-weight: bolder;
}
.sn-banner-wrapper .swiper-pagination-bullet{
  width: 12px !important;
  height: 1.5px !important;
}
.sn-banner-wrapper .swiper-pagination-bullet-active{
  background: #2ec5ff;
}
.swiper-pagination-bullet{
  opacity: 1 !important;
}
#sn-image-upload-js, #sn-image-upload-close-js, #edit-image-link-close-js{
  position: absolute;
  top: 1px;
  right: 1px;
  background: none;
  border: none;
  /* display: block;
  background-image: linear-gradient(135deg, #2EC5FF, #42F0E7, #2EC5FF);
  border: none;
  color: #fff;
  font-weight: bold;
  width: 120px;
  height: 30px;
  background-size: 200%;
  letter-spacing: 0.5px;
  border-radius: 5px; */
}
#sn-image-upload-js span, #sn-image-upload-close-js span, #edit-image-link-close-js span{
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background: #fff;
}
#sn-image-upload-js span:hover, #sn-image-upload-close-js span:hover{
  background: #e0e0e0;
}
#sn-image-upload-js i{
  font-size: 13px;
  padding: 8px 7px;
}
#sn-image-upload-close-js i, #edit-image-link-close-js i{
  font-size: 13px;
  padding: 8px;
}
.sn-add-image-form, #edit-image-link-form-js{
  display: none;
  position: absolute;
  top: 0;
  z-index: 9999;
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
#uploadImageFile{
  display: none;
}
#choose-photo-js{
  border: 1px solid #999999;
  border-radius: 5px;
  background: none;
  color: #999999;
  font-weight: bold;
  display: block;
  margin: 10px auto 0 auto;
  font-size: 14px;
  padding: 3px 6px;
}
#choose-photo-js:hover{
  border: 1px solid #777777;
  color: #777777;
}
.add-banner-photo{
  border: 0;
  border-radius: 5px;
  background-size: 200%;
  background-image: linear-gradient(135deg, #2EC5FF, #42F0E7, #2EC5FF);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  display: block;
  margin: 13px auto 0 auto;
  width: 150px;
  height: 32px;
}
.add-banner-photo:hover{
  background-position: right;
}
.sn-preview-wrapper{
  height: 120px;
}
#preview, #edit-img-js{
  margin: 13px auto 4px auto;
  display: block;
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.sn-photo-link{
  width: 300px;
  margin: 13px auto 0 auto;
  position: relative;
}
.sn-photo-link span{
  cursor: default;
  width: 35px;
  top: 0px;
  left: 0px;
  background: #fff;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #999;
  box-shadow: 0px 0px 2px 1px #ffffff29;
  position: absolute;
}
.sn-photo-link span i{
  padding: 11px 11px;
  font-size: 12px;
  color: #999;
}
.sn-photo-link input{
  margin: 0 auto;
  width: 254px;
  height: 32px;
  padding-left: 40px;
  border: 1px solid #999;
  border-radius: 4px;
}
.sn-exchange-wrapper{
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  position: relative;
}
.sn-exchange-wrapper input{
  background: #fff;
  border: 0;
  width: 56px;
  font-size: 1.5em;
}
.sn-exchange-wrapper .sn-edit-currency{
  color: #555;
  display: inline-block;
  width: 56px;
  padding: 4px;
  border-radius: 5px;
  border: 1px dotted #555;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.sn-exchange{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 9% 0;
}
.sn-exchange-wrapper .sn-exchange-icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 16px;
  background-color: #2EC5FF;
  border-radius: 50%;
}
.sn-widget-wrapper{
  grid-column: 3 / 3;
  grid-row: 2 / 6;
}
.sn-widget-wrapper ul{
  display: grid;
  grid-template-rows: 16vh 16vh 16vh 16vh;
  grid-gap: 7px;
}
.sn-widget-wrapper ul li a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.sn-widget-icon{
  width: 44%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sn-widget-icon span{
  width: 60%;
  height: 70%;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.sn-customer-icon span{
  background-color: #2EC5FF;
  box-shadow: 0 0 0 0 #2EC5FF;
}
.sn-order-icon span{
  background-color: #57bc91;
  box-shadow: 0 0 0 0 #57bc91;
}
.sn-conversation-icon span{
  background-color: #21d2b6;
  box-shadow: 0 0 0 0 #21d2b6;
}
.sn-widget-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #e5e5e5;
  overflow: hidden;
}
.sn-widget-container .memberships{
  display: flex;
  flex-direction: column;
}
.sn-widget-container:hover .sn-customer-icon span{
  background-color: white;
  color: #2EC5FF;
  box-shadow: 0 0 0 200px #2EC5FF;
}
.sn-widget-container:hover .sn-order-icon span{
  background-color: white;
  color: #57bc91;
  box-shadow: 0 0 0 200px #57bc91;
}
.sn-widget-container:hover .sn-conversation-icon span{
  background-color: white;
  color: #21d2b6;
  box-shadow: 0 0 0 200px #21d2b6;
}
.sn-membership-text{
  z-index: 1;
}
.sn-widget-container:hover .sn-membership-text{
  color: #fff;
}
.sn-widget-container:hover .sn-info-container span:last-child{
  color: #efefef;
}
.sn-widget-container:hover #customers_count,
.sn-widget-container:hover #orders_count,
.sn-widget-container:hover #messages_count{
  color: #fff;
}
.sn-customer-widget{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.sn-order-widget{
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}
.sn-message-widget{
  grid-column: 1 / 2;
  grid-row: 3 / 3;
}
.sn-membership-widget{
  grid-column: 1 / 2;
  grid-row: 4 / 4;
}
.sn-membership-icons-container{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.sn-membership-icons-container span{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.memberships:hover .sn-membership-icons-container span{
  background-color: white;
}
.sn-membership-icons-container span:nth-child(1){
  background-color: #C0BFDF;
}
.sn-membership-icons-container span:nth-child(2){
  background-color: #FDD600;
}
.sn-membership-icons-container span:nth-child(3){
  background-color: #B9BBBC;
}
.sn-membership-icons-container span:nth-child(4){
  background-color: #2EC5FF;
}
#membership-hover{
  box-shadow: 0 0 0 0 #C0BFDF;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.memberships:hover #membership-hover{
  box-shadow: 0 0 0 200px #C0BFDF;
}
.sn-membership-icons-container span i{
  color: white;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.memberships:hover .sn-membership-icons-container span:nth-child(1) i{
  color: #C0BFDF;
}
.memberships:hover .sn-membership-icons-container span:nth-child(2) i{
  color: #FDD600;
}
.memberships:hover .sn-membership-icons-container span:nth-child(3) i{
  color: #B9BBBC;
}
.memberships:hover .sn-membership-icons-container span:nth-child(4) i{
  color: #2EC5FF;
}
.sn-info-container span{
  display: block;
  margin: 3px 0;
}
.sn-info-container span:first-child{
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.sn-info-container span:last-child{
  font-size: 0.8em;
  color: #777;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.memberships{
  display: flex;
  flex-direction: column;
}
.memberships .sn-membership-text {
    width: 100%;
    z-index: 1;
    text-align: center;
    color: #777;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 10%;
    margin-bottom: 5px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}


/* Edit Buttons Animation */
.button.button--sacnite {
  width: 30px;
  height: 30px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--scanite.button--round-l {
  border-radius: 50%;
}
.button--sacnite.button--inverted {
  color: #bfbfbf;
}
.button--sacnite::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #bfbfbf;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite.button--inverted::before {
  box-shadow: inset 0 0 0 35px #fff;
}
.button--sacnite:hover {
  color: #b4b4b4;
}
.button--sacnite.button--inverted:hover {
  color: #b4b4b4;
}
.button--sacnite:hover::before {
  box-shadow: inset 0 0 0 2px #b4b4b4;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.button--sacnite.button--inverted:hover::before {
  box-shadow: inset 0 0 0 2px #2EC5FF;
}
.button {
  min-width: 50px;
  max-width: 250px;
  display: block;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button--round-l {
  border-radius: 4px;
}
/* Sorting Button Animation */
.button--itzel {
	border: none;
	padding: 0px;
	overflow: hidden;
	width: 80px;
  border-bottom: 1px solid #bfbfbf;
}

.button--itzel::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 68px;
	height: 100%;
	border: 1px solid #2EC5FF;
	border-radius: inherit;
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
	clip-path: url(../index.html#clipBox);
	transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	transform-origin: 50% 100%;
}

.button--itzel.button--border-thin::before {
	border: 1px solid #2EC5FF;
	transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}

.button--itzel.button--border-thick::before {
	border: 1px solid #2EC5FF;
	transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before,
.button--itzel .fa-sort-amount-down {
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--itzel .fa-sort-amount-down {
	position: absolute;
	top: 100%;
	left: 50%;
	padding: 3px;
	font-size: 13px;
  color: #2EC5FF;
	transform: translate3d(-50%, 0, 0);
}

.button--itzel:hover{
  border-bottom: 1px solid #2EC5FF;
  box-shadow: 0px 0px 1px 0px #2EC5FF;
}

.button--itzel > span {
  background: none;
	display: block;
	padding: 0px;
	transition: transform 0.3s, opacity 0.3s;
	transition-delay: 0.3s;
}

.button--itzel:hover::before {
	transform: translate3d(0, 0, 0);
}

.button--itzel:hover .fa-sort-amount-down {
	transition-delay: 0.1s;
	transform: translate3d(-50%, -100%, 0);
}

.button--itzel:hover > span {
	opacity: 0;
	transform: translate3d(0, -50%, 0);
	transition-delay: 0s;
}
/* .button--itzel:hover  > i{
  opacity: 1;
} */
