/*ERROR PAGE*/
	.error-page-content{
		font-family: sans-serif;
		width: 100vw;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.error-page-container{
		width: 720px;
		height: 450px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.error-page-header{
		width: 100%;
		height: 240px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.error-page-header span{
		margin: 10px 0;
		color: #2d3436;
	}

	.tired{
		font-size: 90px;
	}

	#main-error-message{
		text-align: center;
		font-size: 32px;
	}

	.error-page-body{
		width: 100%;
		height: 210px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.error-page-message{
		text-align: center;
		line-height: 1.6em;
		color: #2d3436;
	}

	.error-page-buttons{
		margin-top: 30px;
	}

	.error-page-buttons a{
		text-decoration: none;
		color: white;
		font-weight: bold;
		margin: 0 7.5px;
	}

	.error-page-buttons a span{
		padding: 10px 15px;
		letter-spacing: 0.5px;
		border-radius: 3px;
	}

	.error-page-buttons a span i{
		margin-right: 5px;
	}

	#error-back-button{
		background-color: #42CAFF;
		transition: 0.1s ease;
	}

	#error-back-button:hover{
		background-color: #2EC5FF;
	}

	#error-dashboard-button{
		background-color: #999;
		transition: 0.1s ease;
	}

	#error-dashboard-button:hover{
		background-color: #888;
	}
/*-------------------------------------- END OF ERROR PAGE -------------------------------------*/
/*CUSTOMER PAGE*/
	.dataTables_length{
		display: none;
	}

	.dataTables_wrapper{
		width: 100%;
		min-height: 100% !important;
	}

	.dataTables_filter{
		position: absolute;
		right: 0;
		top: 0;
		transform: translateY(-74px);
	}

	#tb-activate-js-wrapper{
		
	}

	table.dataTable.no-footer{
		border: 1px solid #ddd !important;min-height: 100% !important;
		background-color: white !important;
		
	}

	table.dataTable thead th{
		border-bottom: 1px solid #ddd !important;
	}

	table.dataTable tbody tr{

	}

	table.dataTable{
		width: 100% !important;
	}

	#extra{
		width: 272px;
	}

	.wp-customer-page-container{
		width: 100%;
		height: 100%;
		background-color: #efefef;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.wp-customer-page-header{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 42px;
		box-sizing: border-box;
	}

	.wp-customer-count-container{
		display: flex;
		align-items: center;
	}

	.wp-customer-count-container span:first-child{
		font-size: 28px;
		color: #2D3436;
		font-weight: bold;
		margin-right: 32px;
	}

	#wp-customer-count{
		vertical-align: baseline;
		color: #555555;
		margin-right: 16px;
	}

	#user-plus-icon{
		position: relative;
		background-color: white;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: 0 0 10px #ddd;
		transition: 0.3s ease;
	}

	#user-plus-icon:hover{
		background-color: #2EC5FF;
	}

	#user-plus-icon i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #2EC5FF;
		transition: 0.3s ease;
	}

	#user-plus-icon:hover i{
		color: white;
	}

	.wp-customer-table{
		position: relative;
		width: calc(100% - 5px);
		height: 100%;
		padding: 0 42px 15px;
		box-sizing: border-box;
	}

/*MEMBERSHIP LOGO*/
	.wp-membership-logo{
		position: relative;
		width: 95px;
		height: 95px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wp-membership-logo i{
		font-size: 52px;
		color: #C0BFDF;
	}

	.wp-membership-logo #membership-level{
		position: absolute;
		left: 50%;
		top: 18px;
		transform: translateX(-50%);
		font-weight: bold;
		color: #C0BFDF;
	}
/*END OF MEMBERSHIP LOGO*/
/*-------------------------------------- END OF CUSTOMER PAGE ----------------------------------*/